.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app .app__title {
  font-size: 40px;
  color: rgb(79, 217, 230);
  margin-bottom: 60px;
}
.app .app__info-windows {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .app .app__info-windows {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
  }
}
