.result {
  padding: 20px;
  height: 20vh;
  border: 2px solid rgb(51, 241, 162);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result .result__login,
.result .result__password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.result .result__login-title,
.result .result__password-title {
  font-size: 18px;
}
.result .result__login,
.result .result__password {
  font-size: 15px;
}
