.route-info__title {
  font-size: 30px;
  margin: 0 auto 20px auto;
  color: rgb(79, 217, 230);
}
.router-info__description {
  border: 2px solid rgb(247, 66, 141);
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.router-info__path-info {
  font-size: 28px;
}
